{% load wa%}
<!-- Cards Block -->

<div class='row justyfy-content-center'>
    {% for card in self.cards %}
        <div class = 'col-md-6 d-flex align-items-stretch {% if not forloop.first %} mt-4 mt-md-0{% endif %}'>
            <div class='card-mb-3 text-center'>
                <a href='@todo'>
                    <picture>
                        {% image card.image fill-570x370 as img %}
                        <img src = '{{ img.url }}' class = 'card-img-top' alt='{{ img.alt }}'>
                    </picture>
                </a>
                <div class='cardbody py-3 px-3'>
                    <a href='@todo'>
                        <h5 class='card-title'>@todo</h5>
                        <p class ='card-text'>@todo</p>
                    </a>

                    <p class='card-text'>
                        <a href='@todo' class='btn-link d-inline'>
                        @todo
                        </a>
                    <p>

                </div>
            </div>
        </div>
    {% endfor %}
</div>
<!-- End Cards Block -->

