<!-- Cards Block -->

<div class='row justyfy-content-center'>
    {% for card in self.cards %}
    <div class = 'col-md-6 d-flex align-items-stretch {% if not forloop.first %} mt-4 mt-md-0{%%}'>

</div>



{% load wagtailimages_tags %}

{% for card in self.cards %}
    {% image card.image fill-570x370 as img%}

    <img src = '{{ img.url }} ' alt='{{ img.alt}}'/>
    <h3>{{ card.title }}</h3>
    {% if card.text %}
        <p>{{ card.text }}</p>
    {% endif %}

   

    <a href='{% if card.link.internal_page %}{{ card.link.internal_page.url }}{% elif card.link.enternal_link %}
    {{ card.link.external_link }}{% endif %}'>
        {{ card.link.link_text }}
    </a>
    <hr>
    <hr>
    <hr>
    <hr>
{% endfor %}