<div class ='my-4'>
    <div class='row'>
        <div class='col-sm-12'>
            <div class='cc-iat cc-iat--{{ self.image_aligment}}'>
                <div class='cc-iat-image'>
                    <a href='@todo' class='d-block'>
                        <picture>
                            {% image self.image fill-786-552 as img %}
                            <img src='{{ img.url }}' alt='{{ }}'
                            style='width: 100%; height: auto'/>
                        </picture>
                    </a>
                </div>
                <div class = 'cc-iat-image-content' style='background-image: url("{% static 'images/grey-pattern.png'%}")'>
                    <h3 class='cc-iat-title'>@todo</h3>
                </div>
            </div>
        </div>
    </div>
</div>