{% load static menu_tags%}

{% get_menu 'header' as navigation %}

{% for all_object in all_objects %}
    {{ all_object}}
{% endfor %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class = 'container'>
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.png' %}" alt='Rocketman'>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% for item in navigation.menu_items.all %}
                <li class="nav-item active">
                    <a class="nav-link" href=" {{ item.link }}">
                        {{ item.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            
        </div>
    </div>
</nav>

