{% load static menu_tags%}

{% get_menu 'header' as navigation %}

<h1> {{ navigation }} </h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class = 'container'>
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.png' %}" alt='Rocketman'>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% for i in '123'%}
                {% for item %
                <li class="nav-item active">
                    <a class="nav-link" href="@todo">
                        Link {{ i }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

